:root {
  --small-input-height: 31px; /* bootstrap small input height*/
  --primary: #5acdfa;
  --secondary: #f5a8b8;
  --pink: #e589b3;
  --green: #25e19d;
  --mh: 300px;
  --mw: 300px;
}

body {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  min-height: 100vh;
}
.render-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.render-container,
.render-container * {
  max-height: var(--mh);
  max-width: var(--mw);
  min-height: 100px;
  margin: 0;
  padding: 0;
}

.canvas-container {
  max-height: var(--mh);
  max-width: var(--mw);
  object-fit: contain;
  margin: auto;
}

input[type="color"] {
  height: var(--small-input-height);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  flex-direction: column;
  background-color: rgba(29, 13, 243, 0.404);
  font-weight: 700;
  color: white;
}

.loading.modal-backdrop {
  opacity: 1;
}

.btn:disabled {
  opacity: 0.3;
  pointer-events: fill;
  cursor: not-allowed;
}

.card {
  box-shadow: 2px 2px 6px rgb(0 0 0 / 30%);
}

.btn-primary {
  background-color: var(--primary);
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  border: none;
  background-size: 200% 200%;

}

.btn-primary:hover {
  animation: btnHover 2s ease 1;
  animation-fill-mode: forwards;
}

@keyframes btnHover {
  0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
