<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Simple online editor to svg icons" />
    <meta name="author" content="Alan - @schirrel" />
    <title>SVG Icon Editor</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-72YCL5E18Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-72YCL5E18Q');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
</head>

<body>
    <main id="app">
        <div v-if="loading" class="loading modal-backdrop fade show" tabbindex="-1">

            <div class="spinner-border text-light" role="status">
            </div>
            <span>{{loadingText}}...</span>
        </div>
        <div class="container py-4">
            <header class="pb-1 mb-4 border-bottom">
                <span class="fs-4">SVG Icon Editor</span>
            </header>

            <div class="p-3 mb-3 card rounded-3">
                <div class="container-fluid">
                    <div class="mb-3">
                        <input ref="fileInput" class="form-control" id="file" @change="loadFile" type="file"
                            accept=".svg" />
                        <p class="text-end fst-italic text-danger"><small>Required</small> </p>
                    </div>

                    <fieldset :disabled="!hasIconFile">

                        <div class="row mb-3">
                            <div class="col-12 col-md-3">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="useGradiente"
                                        v-model="gradiente" value="false" />
                                    <label class="form-check-label" for="useGradiente">
                                        Use gradiente
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="primary-color">Cor</span>
                                    <input type="color" class="form-control" placeholder="Primary Color"
                                        aria-label="Primary Color" aria-describedby="primary-color" v-model="cor">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input-group input-group-sm mb-3" v-if="gradiente">
                                    <span class="input-group-text" id="secondary-color">Cor 2</span>
                                    <input type="color" class="form-control" placeholder="Secondary Color"
                                        aria-label="Secondary Color" aria-describedby="secondary-color" v-model="cor2"
                                        :disabled="!gradiente">
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input-group input-group-sm mb-3" v-if="gradiente">
                                    <span class="input-group-text" id="secondary-color">Direction</span>
                                    <input type="number" id="gradienteDirection"
                                        class="form-control form-control-alternative" v-model="gradienteDirection"
                                        placeholder="Default" :disabled="!hasIconFile">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="d-flex flex-row-reverse">
                        <button class="btn d-flex btn-primary" @click="previewImage()"
                            :disabled="!hasIconFile">Preview</button>

                    </div>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-3 border rounded-3 card">
                        <h2>SVG</h2>
                        <div class="render-container" ref="sourceSvg" id="svgImage"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-300 p-3 border rounded-3 card">
                        <h2>Preview</h2>
                        <img class="render-container" v-bind:src="imageSrc" />

                        <a @click="downloadFile" class="btn btn-primary btn-sm" v-if="imageSrc" :href="imageSrc"
                            :download="downloadFileName">Download</a>
                    </div>
                </div>
            </div>

            <footer class="pt-3 mt-4 text-muted border-top d-flex justify-content-between">
                <span> <a class="btn btn-light btn-sm" href="https://github.com/schirrel">@schirrel</a></span>
                <a class="btn btn-sm btn-dark" href="https://github.com/schirrel/icon-svg-editor">GitHub</a>
            </footer>
        </div>
    </main>
    <script type="module" src="js/app.js"></script>

</body>

</html>